<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="PogodaDBEntities" connectionString="metadata=res://*/PogodaModel.csdl|res://*/PogodaModel.ssdl|res://*/PogodaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.7.1.10;initial catalog=PogodaDB;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavios">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug
            httpHelpPageEnabled="true"
            includeExceptionDetailInFaults="true"
          />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavios" name="PogodaService.MyPogoda">
      <endpoint binding="mexHttpBinding" bindingConfiguration="" name="mex"
                contract="PogodaService.IMyPogoda"/>
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost/MyPogoda"/>
        </baseAddresses>
      </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>