<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavios">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug
            httpHelpPageEnabled="true"
            includeExceptionDetailInFaults="true"
          />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavios" name="MyDiskInfoServer.MyDiskInfo">
      <endpoint binding="mexHttpBinding" bindingConfiguration="" name="mex"
                contract="MyDiskInfoServer.IMyDiskInfo"/>
      <endpoint address="http://localhost/MyDiskInfo/EP1" binding="basicHttpBinding" bindingConfiguration="" name="basic"
                contract="MyDiskInfoServer.IMyDiskInfo"/>
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost/MyDiskInfo"/>
        </baseAddresses>
      </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>